version: "3.9"
services:
  db:
    image: postgres:15-alpine
    container_name: confeitaria-db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: senha
      POSTGRES_DB: confeitaria
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
volumes:
  pgdata:
